@import "./_vars.scss";
@import "../../node_modules/include-media/dist/include-media.scss";

@mixin h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  text-shadow: none;
}

@mixin h2 {
  @include h1;
  font-size: 26px;
}

@mixin h3 {
  @include h1;
  font-size: 22px;
}
