$white: #fff;
$black: #000;
$blue: #0000ff;
$red: #ff0000;
$green: #00ff00;
$yellow: #ffff00;
$purple: #800080;
$orange: #ffa500;
$pink: #ffc0cb;
$brown: #a52a2a;
$gray: #808080;

$default-font-size: 16px;
$default-font-family: "Arial", sans-serif;
$default-font-weight: 400;
$default-line-height: 1.7;
$default-letter-spacing: 0.03em;
$default-text-transform: none;
$default-text-decoration: none;
$default-text-align: left;
$default-text-shadow: none;
