@import "../../node_modules/reset-css/sass/reset";
@import "./_vars.scss";
@import "./_mixins.scss";

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
}

body {
  font-family: $default-font-family;
  font-size: $default-font-size;
  line-height: $default-line-height;
  letter-spacing: $default-letter-spacing;
  text-transform: $default-text-transform;
  text-decoration: $default-text-decoration;
  text-align: $default-text-align;
  text-shadow: $default-text-shadow;
}

