@use "../../styles/_vars.scss" as vars;
@use "../../styles/_mixins.scss" as mixins;

.layout {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  @media (max-width: 900px) {
    flex-flow: column nowrap;
  }
}
.navigation {
  height: 100%;
  overflow: hidden;
  flex: 0 0 200px;
  padding: 20px 30px;
  border-right: 1px solid vars.$black;
  @media (max-width: 900px) {
    height: auto;
    overflow: visible;
    flex: 0 0 auto;
    border-right: none;
    border-bottom: 1px solid vars.$black;
  }
}
