@use "../../styles/_vars.scss" as vars;
@use "../../styles/_mixins.scss" as mixins;

.segment {
  margin-bottom: 30px;

  h1.title {
    @include mixins.h1;
  }
  h2.title {
    @include mixins.h2;
  }
  h3.title {
    @include mixins.h3;
  }

  .title {
    a {
      @include mixins.h1;
      color: cornflowerblue;
      text-decoration: none;
    }
  }

  .description {
    font-size: 18px;
    color: gray;
  }

  .content {
    margin-top: 12px;
  }
}
